*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:"Roboto-Regular";
    font-size: 16px;
}

@font-face{
    font-family:"Roboto-Regular";
    src: url(/css/fonts/Roboto-Regular.ttf);
}

@font-face{
    font-family:"Ubuntu-Bold";
    src: url(/css/fonts/Ubuntu-Bold.ttf);
}

@font-face{
    font-family:"Roboto-Medium";
    src: url(/css/fonts/Roboto-Medium.ttf);
}

h1, h2, h3{
    font-family:"Ubuntu-Bold";
}

.title{
    font-size: 32px;
    line-height: 160%;
    text-align: center;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.header{
    background: rgb(67, 0, 182);
    padding-top: 40px;
    padding-bottom: 40px;
    box-shadow: 0px 5px 5px rgb(34, 16, 96);
}

.header__block{
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    text-decoration: none;
    font-family:"Ubuntu-Bold";
    font-size: 32px;
    line-height: 150%;
    color: rgb(255, 255, 255);
    border: 4px solid rgb(126, 179, 206);
    border-radius: 50%;
    padding: 5px 15px;
    box-shadow: 8px 8px 5px rgba(22, 22, 22, 0.476);
    background: rgba(22, 22, 22, 0.51);
}

.block__call{
    display: flex;
    align-items: center;
}

.phone{
    line-height: 36px;
    color: rgb(255, 255, 255);
    padding-right: 15px;
    border-right: 4px solid rgb(22, 22, 22);
    margin-right: 15px;
    text-shadow: 1px 1px rgba(22, 22, 22, 0.51);
}

.call__back{
    padding: 16px 12px;
    background: rgb(247, 70, 25);
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 40px;
    border: 0;
     cursor: pointer;
    outline: none;
}

/* голова */

.hero{
    background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.4)), url(../img/sigvey_v_rime.jpg) no-repeat center / cover;
    padding: 210px;
}
.desc__hero{
    text-align: start;
    line-height: 180%;
    color: linen;
    max-width: 420px;
}
.title__hero{
    text-align: start;
    font-size: 48px;
    line-height: 180%;
    color: linen;
}

/* слайдер */

.benefits{
 background-color:ivory;
 padding: 60px 0;
}

.block__slider{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px 150px;
}

.left--arrow{
    transform: rotate(180deg);
}

.list__benefits{
    max-width: 600px;
    height: 320px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.benefit__item{
    display: none;
    list-style-type: none;
    max-width: 200px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.img__border{
    max-width: 100px;
    max-height: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 2px dashed silver;
    padding: 30px;
    border-radius: 50px;
}

.title__benefit{
    font-size: 20px;
    margin-bottom: 20px;
    border-bottom: 5px solid goldenrod;
    line-height: 180%;
}

.item__act{
    display: flex;
}



.consultants{
 background-color: wheat;
 padding: 60px 0;
}

.cards__consultants{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px 20px;
}

.desc__consultants{
    text-align: center;
    max-width: 600px;
    margin: 30px auto;
}

.img__consultant{
    max-height: 300px;
    box-shadow: 20px -15px rgb(0,0,0);
    margin-right: 30px;
    margin-top: 25px;
}

.title__consultant{
    font-size: 24px;
    line-height: 170%;
}


/* Бренды */

.brands{
    padding: 60px 0px;
}

.cards__brands{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px 20px;
    padding-top: 36px;
}

.brand__card{
    max-height: 120px; 
    margin-bottom: 20px;
}

.description{
    background-color:bisque;
    padding: 60px 0px;
}

.block__content{
    margin: 0 auto;
    padding: 30px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 900px;
}

.text__content{
    max-width: 400px;
    margin-bottom: 30px;
    margin-left: 20px;
    padding: 15px;
    background-color: white;
    box-shadow: -15px 15px rgb(216, 180, 135);
}

.img__content{
    max-width: 350px;
    margin-bottom: 30px;
    border-radius: 50px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
}



